<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooManager.Properties.Settings.SqlTutorialDBConnectionString"
            connectionString="Data Source=DESKTOP-O8DQOKU\SQLTUTORIAL;Initial Catalog=SqlTutorialDB;Persist Security Info=True;User ID=sa;Password=310789;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>